1. What are data structures, and why are they important?

= Importance and Uses of Data StructuresData structures are a way of organizing and storing data in a computer so that it can be used efficiently
= Data structures are essential for two main reasons: they make the code more efficient, and they make the code easier to understand

2. Explain the difference between mutable and immutable data types with examples?

= Mutable data types are those whose values can be changed after they are created, while immutable data types cannot be modified once created
= example
   mutable > list, dictionary, sets.
   immutable > string, tuple.

3.  What are the main differences between lists and tuples in Python?

= list are mutable and tuples are immutable.
  in list we have more option for modification than tuples.

4. Describe how dictionaries store data?

= With dictionaries, data is stored in a key:value format.

5. Why might you use a set instead of a list in Python?

= sets is sutiable for unordered colection of unique data.

6. What is a string in Python, and how is it different from a list?

= string is a sequence of character and list is sequence of any type of element

7. How do tuples ensure data integrity in Python?

= tuple ensure data integrity in python through hid immutability.

8. What is a hash table, and how does it relate to dictionaries in Python?

= A hash table is a data structure that stores key-value pairs. It uses a process called hashing to compute an index (location in memory) for each key, which makes data lookup very fast.

Python dictionaries use hash tables to perform fast key-value lookups. This is what makes operations like dict["key"] extremely efficient.

9. Can lists contain different data types in Python?

= yes.

10. Explain why strings are immutable in Python?

= hasability.

11. What advantages do dictionaries offer over lists for certain tasks?

= Dictionaries provide faster lookups by key

That’s one of the biggest advantages of using dictionaries in Python — they use hash tables, so finding a value by key is usually instant (O(1)), no matter how big the dictionary is.

12. Describe a scenario where using a tuple would be preferable over a list?

=  Any operation can store data in a tuple when you don't want it to change. Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant.

13. How do sets handle duplicate values in Python?

= a set is a collection of unique, unordered elements, so it remove duplicate automatically.

14. How does the “in” keyword work differently for lists and dictionaries?

= in list  check for value and in dictionary check for key

15. Can you modify the elements of a tuple? Explain why or why not?

= no, because of its immutability.

16. What is a nested dictionary, and give an example of its use case?

= nested dictionary is dictionary inside dictionary.
Suppose you're building a student database where each student has multiple details like name, age, and enrolled course

17. Describe the time complexity of accessing elements in a dictionary?

= it takes constant time regardless of the dictionary's size. This is due to the use of a hash table, which allows for direct lookup of elements based on their key. In the worst-case scenario.

18. In what situations are lists preferred over dictionaries?

= when ordered and sequence matter.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

= Dictionaries are optimized to retrieve values when the key is known.

20. Explain the difference between a list and a dictionary in terms of data retrieval?

= list use index and dictionary use key to access data.

**practical** **questions**

In [ ]:
#Write a code to create a string with your name and print it?
name = "my name is anoop kant mishra"
print(name)

my name is anoop kant mishra

In [ ]:
type(name)

str

In [ ]:
#Write a code to find the length of the string "Hello World"?
print("hello world")
len("hello world")

hello world

11

In [ ]:
#Write a code to slice the first 3 characters from the string "Python Programming"?
p = "python programming"
p[0:3]

'pyt'

In [ ]:
#Write a code to convert the string "hello" to uppercase?
h = "hello"
h.upper()

'HELLO'

In [ ]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"?
a = "i like apple"
a.replace("apple", "orange")

'i like orange'

In [ ]:
a

'i like apple'

In [ ]:
#Write a code to create a list with numbers 1 to 5 and print it?
l = [1, 2, 3, 4, 5]
print(l)

[1, 2, 3, 4, 5]

In [ ]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]?
l.append(10)

In [ ]:
l

[1, 2, 3, 4, 5, 10]

In [ ]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
l.remove(3)

In [ ]:
l

[1, 2, 4, 5, 10]

In [ ]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
m = ['a', 'b', 'c', 'd']
second_element = m[1]
print(second_element)
third_element = m[2]
print(third_element)

b
c

In [ ]:
#Write a code to reverse the list [10, 20, 30, 40, 50]?
list = [10, 20, 30, 40, 50,]
list[::-1]

[50, 40, 30, 20, 10]

In [ ]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it?
t = (100, 200, 300, )
print(t)
type(t)

(100, 200, 300)

tuple

In [ ]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?
t = ('red', 'green', 'blue', 'yellow')
t[1:]

('green', 'blue', 'yellow')

In [ ]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15)?
num = (10, 20, 5, 15)
min(num)

5

In [ ]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?
animal = ('dog', 'cat', 'rabbit')
animal.index("cat")

1

In [ ]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?
fruit = ("apple", "banana", "orange")
if "kiwi" in fruit:
  print("yes kiwi is in fruit")
else:
  print(" no kiwi is in fruit")

 no kiwi is in fruit

In [ ]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it?
s = {'a', 'b', 'c'}
print(s)
type(s)

{'a', 'c', 'b'}

set

In [ ]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}?
s = {1, 2, 3, 4, 5}
s.clear()

In [ ]:
s

set()

In [ ]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}?
s = {1, 2, 3, 4}
s.remove(4)

In [ ]:
s

{1, 2, 3}

In [ ]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?
s = {1, 2, 3,}
s1 = {3, 4, 5}
s | s1

{1, 2, 3, 4, 5}

In [ ]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?
s & s1

{3}

In [ ]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it?
d = {"name":"anoop", "age":"24", "city":"rewa"}
type(d)

dict

In [ ]:
d

{'name': 'anoop', 'age': '24', 'city': 'rewa'}

In [ ]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?
d = {"name":"john", "age":"25"}
d["country"] = "usa"

In [ ]:
d

{'name': 'john', 'age': '25', 'country': 'usa'}

In [ ]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?
d = {"name":"alice", "age":"30"}

In [ ]:
d

{'name': 'alice', 'age': '30'}

In [ ]:
d["name"]

'alice'

In [ ]:
 #Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?
 d = {"name":"bob", "age":"22", "city":"new york"}

In [ ]:
d

{'name': 'bob', 'age': '22', 'city': 'new york'}

In [ ]:
del d["age"]

In [ ]:
d

{'name': 'bob', 'city': 'new york'}

In [ ]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?
d = {"name":"alice", "city":"paris"}

In [ ]:
d.get("city")

'paris'

In [ ]:
if "city" in d:
  print("city exists")
else:
  print("city does not exists")

city exists

In [ ]:
#Write a code to create a list, a tuple, and a dictionary, and print them all?
t = (1, 2, 3, 4, 5)
d = {1, 2, 3, 4, 5}
l = [1, 2, 3, 4, 5]
print(t)
print(d)
print(l)

(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

In [ ]:
#Write a code to create a list, a tuple, and a dictionary, and print them all?
l = [20, 4, 98, 49, 17]

In [ ]:
l

[20, 4, 98, 49, 17]

In [ ]:
l.sort()

In [ ]:
l

[4, 17, 20, 49, 98]

In [ ]:
#Write a code to create a list with strings and print the element at the third index?
l = ["name", "age", "city", "surname"]

In [ ]:
l

['name', 'age', 'city', 'surname']

In [ ]:
l[3]

'surname'

In [ ]:
#Write a code to combine two dictionaries into one and print the result?
d = {1, 2, 3 ,4}
d1 = {5 ,6, 7, 8}

In [ ]:
d | d1

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
d.update(d1)

In [ ]:
d

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#Write a code to convert a list of strings into a set?
l = ["surname", "age", "name", "surname"]

In [ ]:
type(l)

list

In [ ]:
l = set(l)

In [ ]:
l

{'age', 'name', 'surname'}

In [ ]:
type(l)

set